@font-face {
	font-family: "iconfont";
	src: url('../fonts/icons/iconfont.eot');
	src: url('../fonts/icons/iconfont.eot?#iefix') format('eot'),
		url('../fonts/icons/iconfont.woff2') format('woff2'),
		url('../fonts/icons/iconfont.woff') format('woff'),
		url('../fonts/icons/iconfont.ttf') format('truetype'),
		url('../fonts/icons/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == aeroplane {
		$char: "\E001";
	}
	@if $filename == calendar {
		$char: "\E002";
	}
	@if $filename == handyman-tools {
		$char: "\E003";
	}
	@if $filename == lens {
		$char: "\E004";
	}
	@if $filename == logo {
		$char: "\E005";
	}
	@if $filename == messages {
		$char: "\E006";
	}
	@if $filename == msg-triangle-left {
		$char: "\E007";
	}
	@if $filename == msg-triangle-right {
		$char: "\E008";
	}
	@if $filename == muted {
		$char: "\E009";
	}
	@if $filename == my-profile {
		$char: "\E00A";
	}
	@if $filename == paper-clip {
		$char: "\E00B";
	}
	@if $filename == smile {
		$char: "\E00C";
	}
	@if $filename == team {
		$char: "\E00D";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-aeroplane {
	@include icon(aeroplane);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-handyman-tools {
	@include icon(handyman-tools);
}
.icon-lens {
	@include icon(lens);
}
.icon-logo {
	@include icon(logo);
}
.icon-messages {
	@include icon(messages);
}
.icon-msg-triangle-left {
	@include icon(msg-triangle-left);
}
.icon-msg-triangle-right {
	@include icon(msg-triangle-right);
}
.icon-muted {
	@include icon(muted);
}
.icon-my-profile {
	@include icon(my-profile);
}
.icon-paper-clip {
	@include icon(paper-clip);
}
.icon-smile {
	@include icon(smile);
}
.icon-team {
	@include icon(team);
}