// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1280px;
$desktop-extra: 1330px;
$break-max: 1600px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1920;
// COLOR
$white_0: #fff;

$black_0: #000;
$black_1: #252F48;
$black_2: rgba(153, 163, 174, 0.06);
$black_3: #222428;

$gray_0: #8089A6;
$gray_1: #DAE4F2;
$gray_2: #9BA0AD;
$gray_3: #F9FAFC;
$gray_4: #EDF0F4;
$gray_5: rgba(190, 200, 212, 0.2);
$gray_6: rgba(224, 224, 224, 0.15);
$gray_7: #F5F6F9;
$gray_8: rgba(153, 163, 174, 0.2593);
$gray_9: rgba(153, 163, 174, 0.1465);
$gray_10: #F7F9FC;

$blue_0: #01134E;
$blue_1: #2A74DB;

$green_0: #0AD69C;